<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="vk_test" >
        <classes>
            <class name="tests.UI001_MakeSureThatUrlOfSiteIsRight" />
            <class name="tests.UI002_MakeSureThatSignINButtonWorkCorrectly" />
            <class name="tests.UI003_MakeSureThatSignInWorksCorrectly" />
        </classes>
    </test>
</suite>
